h1
{
  margin: 0;
  padding: 2rem;
  background-color: #3F51B5;
  color: white;
}


#chronoContainer
{
     padding: 2rem;
    font-size: 1.3rem;
     color: white;
    background-color: #3F51B5;
}  

.btn-start
{
      font-size: 1.8rem;
    height: 3.5rem;
    margin-top: 1.5rem;
} 

